ScrollView {
  opacity: 0;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.img-desc{
  background-color:#000;  
  opacity:0.3;  
  -moz-opacity:0.3;
  -khtml-opacity: 0.3;
  color:#eee;
  /*width: 100%*/
}
.top-media-container{
  max-width: 100%;
}
.test-width{
  width: 49.5%;
  margin: 5 0 0 0;
  height: auto;
  /*border-width:1;
  border-color:red;*/
}
.test-width Image{
  height:250;
}