<ActionBar title="首页">
    <ActionItem ios.systemIcon="9" ios.position="left" android.systemIcon="ic_menu_share" android.position="actionBar"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" text="拍照" android.position="popup"></ActionItem>
</ActionBar>
<DockLayout stretchLastChild="true">
    <bottom-bar dock="bottom" [isHome]="true"></bottom-bar>
    <ScrollView exampleTitle toggleNavButton (scroll)="onScroll($event)" (swipe)="onSwipe($event)" class="visible">
        <FlexboxLayout flexDirection="column">
            <AbsoluteLayout backgroundColor="lightgray" flexGrow="1" class="top-media-container" horizontalAlignment="stretch">
                <Image #img style.zIndex="1" [src]="imageSrc" stretch="aspectFit"></Image>
                <Label flexGrow="1" text="这张图片很不错" style.zIndex=2 left="0" top="1" class="p-15 img-desc" textWrap="true"></Label>
            </AbsoluteLayout>

            <FlexboxLayout flexDirection="row" flexWrap="wrap" #content style.zIndex="2" justifyContent="space-between">
                <StackLayout orientation="vertical" class="test-width" backgroundColor="lightgray">
                    <Image style.zIndex="1" [src]="imageSrc" stretch="aspectFill"></Image>
                    <Label text="这张图片很不错" style.zIndex=2 class="p-15 img-desc" textWrap="true"></Label>
                    
                </StackLayout>
                <StackLayout orientation="vertical" class="test-width" backgroundColor="lightgray">
                   <Image style.zIndex="1" [src]="imageSrc" stretch="aspectFit"></Image>
                    <Label text="这张图片很不错" style.zIndex=2 class="p-15 img-desc" textWrap="true"></Label>
                </StackLayout>
                <StackLayout orientation="vertical" class="test-width" backgroundColor="lightgray">
                   <Image style.zIndex="1" [src]="imageSrc" stretch="none"></Image>
                    <Label text="这张图片很不错" style.zIndex=2 class="p-15 img-desc" textWrap="true"></Label>
                </StackLayout>
                <StackLayout orientation="vertical" class="test-width" backgroundColor="lightgray">
                   <Image style.zIndex="1" [src]="imageSrc" stretch="none"></Image>
                    <Label text="这张图片很不错" style.zIndex=2 class="p-15 img-desc" textWrap="true"></Label>
                </StackLayout>
            </FlexboxLayout>
        </FlexboxLayout>
    </ScrollView>

</DockLayout>